h1 {
    color: black;
    font-size: 32px;
    text-align: center;
}

.picture {
    background-image: url("https://fastly.picsum.photos/id/997/200/200.jpg?hmac=J9wMccIJgdwcAV_BlxcoN1N_oKWGt4Wb8EqkKqp-4gE");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
}